{% extends "../project_base.html" %}
{% block title %}<h1>Детская, пахнущая морем...</h1>{% endblock %}

{% block text %}
    <p>Вот, пожалуй, покажу детскую.
        Мы начали с нее, хотели сделать побыстрее, но передумали  и теперь проектируем  всю квартиру.</p>

    <img src="/images/project{{ projectId }}/idea.jpg" width="650" style="display: block; margin-left: auto; margin-right: auto;"/>

    <p>Но пока суть да дело - что ж лежать готовому)))</p>
    <p> Детская эта в основном спальня - для подростка и малыша 5 лет, для него же и игровая. Еще есть спальное место для старшего - студента. На всякий случай))
        А для уроков и прочих занятий у мальчишек предусматривается кабинет.
        Паркет не меняем, он хороший. Вообще квартира чудесная, большая, светлая, высокие потолки, толстенные стены, большие окна. Старый Фонд Питера - просто сказка.
        Стены красим, мебель - большей частью Икея)))</p>
{% endblock %}
