{% extends "../project_base.html" %}
{% block title %}
<h1>Свежий бриз.</h1>
{% endblock %}

{% block text %}
    <p>Чудесная семья, 2 маленьких мальчика.</p>
    <p>Запрос был не однозначный - хочу все светлое и белое, и все коричневое-шоколадное.</p>
    <p>В разговоре был упомянут скандинавский стиль и показаны белые двери и пол...</p>
    <p>И я решила - делать коричнево и уныло мы не будем))</p>
    <p>Самую большую и светлую комнату с эркером отдали детям, а в спальне устроили приватный кабинет.</p>
    <img src="/images/project{{ projectId }}/idea.jpg" width="650" style="display: block; margin-left: auto; margin-right: auto;"/>
{% endblock %}
