{% extends "../project_base.html" %}
{% block title %}
<h1>Распашонка П-44Т</h1>
{% endblock %}

{% block text %}
    <p>
        Прекрасная семья  въезжает в первую свою квартиру после 15 лет в коммуналке.
        Сын - подросток и малютка дочка))
    </p>
    <p>
        Хочется света и цвета, а какого - непонятно)))
        Заказана кухня в белом глянце, куплен светлый ламинат, выбрана нравящаяся гамма, с остальным пока тупик.
    </p>
    <img src="/images/project{{ projectId }}/idea.jpg" width="650" style="display: block; margin-left: auto; margin-right: auto;"/>
    <p>Мы делали ее не сразу всю квартиру, а поэтапно по комнатам - черновая отделка уже готова, все стены на своих местах, даже электрика проведена (это
        некоторые ограничения накладывало, кстати)</p>

    <p>Начали с кухни. Вариантов было штук шесть, но изменения несущественные - смотрели разные столы и стулья, основная концепция была принята сразу.</p>

    <p>Комната сына. Хочет фотообои на всю стену - что-то техническое.</p>

    <p>И у него зеленый - любимый цвет.
        В спальне-гостиной просят сделать перегородку на полстеночки, чтобы спрятать кровать.
        Получается не очень((
        Предлагаю отказаться от перегородки, тем более, что "гостиная" больше для семьи - поваляться вечером на диване, фильм посмотреть всем вместе.
        Нравится спокойная гамма</p>

    <p>Детская дочке сложилась сразу - понравились обои в горошек, они и сделали весь интерьер.
        Затем ванная и коридор - все шкафы вынесены в прихожую, поддерживаю тему кухни - белый глянец, цвет какао и зеленые нотки.</p>
{% endblock %}
