/* Cleaned CSS: */
/*- - - - - - - - - - - - - - - - - - - - - -*\ 
   Generated in http://lj.yoksel.ru
   Layout: 06
   Modified by: Your Name
   Date: 18.01.2014
\*- - - - - - - - - - - - - - - - - - - - - -*/

body{
padding-bottom:0px;
margin-bottom:0px;
background-attachment: fixed;
background-repeat: repeat;
background-position: center top;
background-color: #a8967e;
font-family: Palatino Linotype;
font-size: 14px;
line-height: 1.5em;
color: #222222;
}

#container{
padding-bottom: 0px;
margin: 0px 0px 0px 0px;
padding: 50px 0px 50px 0px;
}

#container-inner{
width: 900px;
}

div#page{
padding-bottom: 0px;
background-color: #ffffff;
}

div#page-inner{
position:relative;
margin:0px;
}

#content{
margin: 0px;
width: 900px;
padding: 20px 0px 30px 0px;
}

#content-inner{
margin: 0px;
padding-top:0px;
padding-bottom:0px;
position:relative;
width: 870px;
left: 15px;
top: 0px;
}

#beta {
width: 140px;
display: block;
}

.layout-wt #beta {
margin:0px 0px 0px 30px}

#gamma{
display:none;}

#alpha {
width: 698px;
padding: 0px 0px 20px 0px;
}


#alpha-inner {
position:relative;
width: 698px !important;
margin: 0px 0px 0px 0px;
}

div.post-asset{
margin: 0px 0px 20px 0px !important;
padding: 0px 0px 20px 0px !important;
border: 1px solid #473116;
border-width: 0px 0px 1px 0px;
width: 698px;
}

.lj-view-month div.post-asset{
}

div.asset-inner{
margin-bottom:0px !important;
width: 698px;
margin: 0px auto 0px auto;
padding: 0px 0px 0px 0px;
}

.asset-content {
position:relative;
}

.post-asset .asset-body {
position:relative;
text-align: left !important;
margin-top:0px;
margin-bottom:20px;
padding:0px;
line-height: 1.5em;
width: 698px;
}

div#comments{
padding:0px;
width: 698px;
padding: 0px 0px 15px 0px;
}

div.comments-inner{
position:relative;
padding:0px;
margin: 0px auto;
width: 698px;
}

div#footer{
background-position: left;
margin-bottom:20px;
}

/*----TOPMENU----*/

div#header{
margin: 0px;
padding:0px;
z-index:100;
width: 900px;
height: 286px;
top: 0px;
overflow:hidden !important;
border: 1px solid #473116;
border-width: 0px 0px 1px 0px;
}

.layout-tw div#header{
}

div#header-inner{
margin: 0px;
padding:0px;
width: 900px;
height: 286px;
}

div#header-content{
margin: 0px;
padding:0px !important;
position:relative;
}

div#header-content-inner{
margin: 0px;
padding:0px;
}

div#header-text{
margin: 0px;
padding:0px;
}

#header-photo{
position:absolute;
height: 250px !important;
width: 900px !important;
top:0px;
}

#header-photo-inner{
position:relative;
background-image: url(https://pp.vk.me/c607927/v607927358/121c/VqcNEoUnTuU.jpg);
background-repeat: repeat;
background-position: center;
height: 250px !important;
width: 900px !important;
}

ul.nav{
position:absolute;
width: 900px;
left: 0px;
top: 250px;
height: 36px;
text-align: center;
}

.nav .item{
left: 0px;
padding: 0px;
border: 0px solid red;
display: block;
float:left;
width: 25%;
//width: 24%;
line-height: 2em;
}

.nav .current{
}

.nav .first{
}

div#header-name{
display: none;
}

div#header-description{
display: none;
}

div.stream-header{
margin-bottom:0px;
}

.lj-view-recent div.stream-header,
.lj-view-friends div.stream-header{
margin-bottom:0px;
display: none;
}

.prevnext,
.skiplinks{
padding-left:0px !important;
text-align: center;
color: #777;
padding: 0px 0px 0px 0px;
}

p.prevnext{
padding-left:5px !important;
}

div.stream-header p.prevnext{}

p.prevnext a,
.skiplinks a{
font-weight:normal;
text-decoration:underline;
}

div.prevnext{
text-align: left;
padding: 0px 0px 0px 0px;
}

div.prevnext table{
margin:0px;}

.lj-view-month div.prevnext{
margin: 0px 0px 20px 25px !important;
}

.lj-view-month div#alpha-inner br{
display: none;
}

/*----SIDEBAR----*/

div#beta-inner{
padding:0px;
}

div.widget {
margin: 0px 0px 20px 0px;
padding: 0px 0px 20px 0px;
line-height: 1.3em;
color: #555;
border: 1px solid #473116;
border-width: 0px 0px 1px 0px;
}

div.widget-content{
padding-left:0px;
width: 140px;
}

.widget .user-pic a img,
.widget .user-pic img {
border: 0px;
margin-bottom:10px;}

div.widget h3.widget-header{
padding:0px;
margin-bottom:10px;
}

.tagcloud li.tag a{
font-weight:normal;}

ul.widget-list{
padding-left: 0px !important;
margin-left: 0px !important;}

ul.widget-list li.item{
list-style: none !important;
margin: 0px;
padding: 0px;
}

div.calendar-widget table{
width: 100% !important;
}

div.calendar-widget td,
div.calendar-widget th{
text-align: center;
}

.archive-widget .item a{
font-weight: normal !important;}

div.widget-footer {
text-align:left;
margin-top:5px;
}
.profile-name{
font-weight:normal;
}

div.powered-widget{
display:none;}

/*----ENTRIES----*/

div.asset-header{
padding:0px;
border: 0px solid green;
padding: 0px 0px 10px 0px;
}

.lj-view-month div.asset-header,
.lj-view-archive div.asset-header{
display:none;}

div.user-icon{
margin:0px;
margin-bottom:10px;
margin-right: 10px;
float:left;
text-align:center;
background-color:transparent !important;
border: 0px solid green !important;
}

div.user-icon span{
background-color:transparent !important;}

div.asset-body a{
text-decoration:underline;}


/*----------Currents&Tags----------*/

div.asset-content div.lj-currents,
div.asset-content div.asset-tags,
div.lj-currents ul{
padding: 0px  !important;
margin: 0px  !important;
font-size: 12px;
color: #777;
font-style: italic;
font-weight: normal;
}

div.asset-content div.asset-tags,
div.asset-content div.lj-currents ul li{
line-height:1.5em;
margin-left: 10px !important;
font-size: 12px;
color: #777;
font-style: italic;
font-weight: normal;
}

div.asset-tags h4,
span.entryMetadata-label{
font-size: 12px;
color: #777;
font-style: italic;
font-weight: normal;
}

.post-asset li.item{
border:0px solid green;
margin-left:0px;
}

/*--------CommLine--------*/

li.asset-meta-comments,
li.asset-meta-no-comments{
border-left: 0px solid #ccc;
}

.layout-tw li.asset-meta-comments,
.layout-tw li.asset-meta-no-comments{
float:right !important;
}

div.asset-meta{
margin: 0px 0px 0px 0px;
padding: 20px 0px 0px 0px;
}

div.asset-meta ul.asset-meta-list{
text-align: left;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

div.asset-header ul.asset-meta-list{
height:auto;
padding:0px;
top:auto;
margin:0px;
background-image:none;
}

/*----------DAte&Time----------*/

div.asset-header-content-inner{}

div.asset-header div.asset-meta{
background-image:none;
border:0px solid blue;
padding:0px !important;
margin:0px;
height:auto;
right:0px;
position:absolute;
top:0px;
z-index:0;
}

div.asset-header li.item{
padding:0px;
left:0px;
text-align:right;
float:right;
float: right;
}

div.asset-header li.item span{
padding:0px !important;
font-family: Verdana;
font-size: 12px;
line-height: 2.0em;
font-style: italic;
}

/*--------CALENDAR--------*/

ul.year {
text-align: center;
margin-top:0px;
}

ul.year li,
ul.year li.active{
font-size: 22px;
padding: 0px 10px 0px 10px;
}

table.yeartable{
margin: 0px auto 0px auto;
width: 500px;
}

table.yeartable td.yeardate,
table.yeartable td.yearday{
border:0px solid red;
padding: 5px 5px 5px 5px;
}

table.yeartable td.yearday{
}

table.yeartable td.yeardate{
padding: 5px 5px 5px 5px;
border-bottom:1px solid #ddd;
}

/*----SUBJECTS----*/

.asset-body dl{
margin-left:10px;}

dl dt b{
font-weight: normal;
font-family: Palatino Linotype;
font-size: 18px;
color: #695b4f;
}

dl dt a:link{
}
dl dt a:hover{
text-decoration:none;
}

/*----ENTRY_IN----*/

div.day h2 {
padding:0px 0px 15px 0px;
border: 0px solid red;
font-size: 16px;
font-family: Palatino Linotype;
color: #695b4f;
font-weight: normal;
text-align: center;
}

div.day h2.asset-name,
div.day h2.page-header2{
text-align:left;
width:auto;
padding:0px 0px 0px 0px;
font-weight:normal;
font-style:normal;
border: 0px solid red;
}

div#comments h2.comments-header,
div#comments h2.asset-name{
font-weight:normal;
}

.comment-date{
margin-bottom:7px;
margin-top:7px;
color: #777;
font-size:12px;
font-style:italic;}

div.comment-body{
margin-bottom:5px;
line-height: 1.5em;
}

div.comment-inner div.user-icon{
float:left;
margin-right:10px;}

hr{
display:none;}

div.comment-even{
border: 0px solid red;
}

div.comment-links{
margin:15px 0px 25px 0px;
}

span.separator{
visibility: hidden;
}

div.comment-links a{
text-decoration:underline;
font-weight:normal;
}

div.comment-links a:hover{
text-decoration:none;
}

span.commenter-name{
font-weight:normal
}

div.comment-subject{
margin-bottom:7px;
font-size: 14px;
}

div.comments-nav{
border:0px solid red;
font-weight:normal;}

div.comments-nav a{
font-weight:normal;
text-decoration:underline;}

/*----TAGS----*/

.lj-view-tags #alpha-inner{
margin-top: 0px;
padding-left:0px;
}

.lj-view-tags #alpha-inner ul {
list-style:none;
margin-left: 0px;
text-align: left;
line-height:1.5em; }

.lj-view-tags #alpha-inner a{
font-weight:normal;
text-decoration: underline;}

.lj-view-tags #alpha-inner a:hover{
text-decoration: none;}


/*----LINKS----*/

#page a,
#page a:visited,
#page a font{
line-height: 1.5em;
font-family: Palatino Linotype;
font-family: Palatino Linotype;
color: #222222;
font-size: 14px;
text-decoration: underline;
}

#page a:visited{
color: #222222;
}

#page a:hover,
#page a:hover b  {
color: #222222;
text-decoration: none;
}

#page dl dt a,
#page dl dt a:visited{
text-decoration: none;
}

#page .nav .item a{
font-size: 18px;
font-family: Courier New;
color: #333333;
line-height: 2em;
font-weight: normal;
text-decoration: none;
height: 36px;
display: block;
float: left;
width: 100%;
border: 0px solid red;
}

#page .nav .item a:hover{
color: #333333;
text-decoration: none;
}

#page .nav .current a,
#page .nav .current a:hover{
color: #333333;
}

#page div#header-name a,
#page div#header-name a:visited{
text-decoration:none;
font-size: 18px;
font-family: Courier New;
color: #333333;
line-height: 1em;
text-transform:uppercase;
}

#page div#header-name a:hover{
color: #333333;
}

#page .prevnext,
#page .skiplinks{
color: #222222;
font-size: 14px;
}

#page .prevnext a,
#page .skiplinks a,
#page .prevnext a:visited,
#page .skiplinks a:visited{
font-family: Palatino Linotype;
color: #222222;
font-size: 14px;
}

#page .prevnext a:hover,
#page .skiplinks a:hover{
}

#page div.widget{
color: #222222;
font-size: 14px;
}

#page div.widget a:link,
#page div.widget a font,
#page div.widget a b {
color: #222222;
}

#page div.widget a:visited{
color: #222222;
}

#page div.widget a:hover{
color: #695b4f;
}

#page div.widget h3.widget-header,
#page div.widget h3.widget-header a,
#page div.widget h3.widget-header a:visited{
text-decoration:none;
font-family: Palatino Linotype;
font-size: 18px;
color: #695b4f;
line-height: 1.2em;
}

#page div.calendar-widget td a,
#page div.calendar-widget td a:visited {
font-weight:bold !important;
}

div.calendar-widget td a:hover {
}

#page .widget-footer a{
font-size: 12px;}

h2.page-header2,
div#comments h2.page-header2{
margin-bottom:0px;
border: 0px solid green;
position:relative;
z-index:10;
}

h2.page-header2,
div#comments h2.page-header2,
div#comments h2.comments-header,
div#comments h2.asset-name,
div.day h2.asset-name,
div.day h2.page-header2,
.year .active{
margin-bottom:0px;
padding-bottom:0px;
padding-left:0px;
border: 0px solid green;
background-color:transparent;
padding: 0px 0px 0px 0px;
text-align: left;
width: 478px;
font-family: Palatino Linotype;
font-size: 18px;
color: #695b4f;
line-height: 1.4em;
font-weight: normal;
text-decoration: none;
}

.lj-view-tags h2{
margin-bottom:15px;
}

table.yeartable td.yearmonth{
font-family: Palatino Linotype;
font-size: 18px;
color: #695b4f;
line-height: 1.4em;
font-weight: normal;
text-decoration: none;
}

#page h2.page-header2 a,
#page .page-header2 a,
#page .page-header2 a:visited{
font-family: Palatino Linotype;
font-size: 18px;
color: #695b4f;
line-height: 1.4em;
font-weight: normal;
text-decoration: none;
}

#page .page-header2 a:hover{
color: #222222;
}
#page h3.widget-header a:hover{
color: #222222;
}

#page div.user-icon .ljuser a,
#page div.user-icon a b {
font-size:12px;
color: #222222;
text-decoration: none;
}

#page div.user-icon .ljuser a:hover,
#page div.user-icon a:hover b {
color: #222222;
}

#page div.asset-tags a,
#page div.lj-currents ul li a{
font-size: 12px;
color: #777;
font-style: italic;
font-weight: normal;
font-family: Palatino Linotype;
}

#page div.lj-currents a:hover,
#page div.asset-tags a:hover{
background:transparent;
}

#page ul.asset-meta-list li.item{
font-size: 14px;
}

#page ul.asset-meta-list li.item a,
#page div.comment-links a{
font-family: Palatino Linotype;
color: #222222;
font-size: 14px;
font-weight: bold;
}

#page ul.asset-meta-list li.item a:hover,
#page div.comment-links a:hover{
color: #695b4f;
text-decoration: none;
}

#page ul.asset-meta-list li.item a:visited,
#page div.comment-links a:visited{
color: #222222;
}

#page ul.year li a,
#page ul.year li a:visited{
font-size: 14px;
font-family: Palatino Linotype;
color: #695b4f;
}

#page td.yearmonth a{
text-decoration:underline;
font-style:normal;
text-transform:none;
font-family: Palatino Linotype;
color: #222222;
font-size: 12px;
}

#page .yeardate a{
font-size: 18px;
font-family: Palatino Linotype;
color: #695b4f;
font-weight: normal;
}

#page .yeardate a:hover{
text-decoration:none;
}

/*----COMMON----*/
    
#postform table,
#qrform table{
width: 99%;
}

#qrform table{
border: 0px !important;
margin: 5px auto;
}

#qrform table td,
#postform table td{
font-size: 14px;
font-weight: normal;
}

#qrform table td a,
#postform table td a{
font-weight: normal;
}

.textbox, textarea, select{
margin: 3px;
padding: 1px;
background: url(http://img-fotki.yandex.ru/get/4427/5091629.69/0_5e163_3725e8fd_orig);
border: 1px solid #ddd;
font-size: 14px;
font-family: Palatino Linotype;
color: #222222;
line-height: 1.5em;
}    

.lj-view-month div#alpha-inner dd br{
display: block;
}
/*- - - - - - - - - - - - - - - - - - - - - -*\
   ----===   End of Css   ===----
   Generated in http://lj.yoksel.ru
   Layout: 06
   Date: 18.01.2014
\*- - - - - - - - - - - - - - - - - - - - - -*/

