<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name='yandex-verification' content='59d24a924e8912d8' />
        <title>I am a designer</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>

        <script type="text/javascript" src="/bower_components/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <script type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="/bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>

        <script src="/scripts/app.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/styles/main.css"/>
    </head>
    <body>
        <div class="boarder">
            <div class="container">
                <div class="header">
                    <div class="header-content">
                        <div class="header-photo"></div>
                    </div>
                    <div class="header-menu">
                        <nav>
                            <ul>
                            {% for item in {about: "Обо мне", gallery: "Галерея", contacts: "Контакты"} %}
                                <li><a href="/{{ loop.key }}.html">{{ item }}</a></li>
                            {% endfor %}
                                <li><a href="#modal" name="modal" rel="leanModal" onclick="showModal();">Блог</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="gap">
                </div>
                <div class="body">
                    <div class="horizontal-block">
                        {% block horizontal-content %}
                            <div class="horizontal-content hidden"> </div>
                        {% endblock %}
                    </div>

                    <div class="main">
                        {% block main-content %}
                        <div class="main-content"></div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="modal"> Переход через <span class="counter">3</span></div>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter26002812 = new Ya.Metrika({id:26002812,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/26002812" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>

</html>
