<div class="contacts">
    <div class="main-content">
        <div class="about2" style="width: 400px; height: 450px; display: block; float: right; background: url(/images/contact.jpg) no-repeat; padding-right: 20px; margin-top: 15px;">
        </div>
        <div class="contact" style="padding-left: 30px; width: 390px; display: block; float: left;">
            <h1>Контакты</h1>
            <br>
            <h3>Город:</h3>
            <div class="contacts-text">Санкт-Петербург</div>
            <h3>Телефон:</h3>
            <div class="contacts-text">+79523697223</div>
            <h3>Скайп:</h3>
            <div class="contacts-text">sladkaiyagodka</div>
            <h3>Почта:</h3>
            <div class="contacts-text">aasboss@yandex.ru</div>
        </div>
    </div>
</div>
