<div class="contacts">
    <div class="main-content">
        <div class="about2" style="width: 300px; height: 450px; display: block; float: left; background: url(/images/contact.jpg) no-repeat;">
        </div>
        <div class="contact" style="padding-left: 30px; width: 490px; display: block; float: right;">
            <h1>Контакты</h1>
            <h3>Город:</h3>
            <div class="contacts-text">Санкт-Петербург</div>
            <h3>Телефон:</h3>
            <div class="contacts-text">+79523697223</div>
            <h3>Скайп:</h3>
            <div class="contacts-text">alexboss</div>
            <h3>Почта:</h3>
            <div class="contacts-text">aasboss@yandex.ru</div>
        </div>
    </div>
</div>
