<div class="development">

    <div class="header-content">
        <div class="header-photo"></div>
    </div>

    <div class="main-content">
        <div class="text">
            <p>
                Sit d perspiciatis tenetur quos architecto nihil. Ullam illo quod nisi quo animi odio, autem laudantium. Consequatur tempore quam vero sapiente eum. Illum adipisci officiis quo temporibus minus doloremque sit? Vero.
                Lorem animi qui perspiciatis minus omnis voluptatum libero voluptatum voluptatibus quod inventore quod? Molestias eveniet in error maxime tempora sequi sunt vitae. Laborum quam eveniet atque voluptate et, aspernatur dignissimos. ss
                Consectetur nobis quasi rem impedit quas? Voluptates architecto odit voluptate totam quam in aperiam numquam magnam debitis, corrupti? Blanditiis sit maiores obcaecati soluta sequi? Corrupti expedita necessitatibus molestias accusantium illum.
            </p>
        </div>
    </div>

    <div class="vertical-content">
        <ul>
            {% for item in menu %}
            <li>
                <a href="{{ item.href }}"> <img
                        src="/images/gallery_icons/{{ item.image }}"> </a>
                <p>{{ item.desc | safe }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
