<div class="gallery">
    <div class="header-content">
        <div class="header-photo"></div>
    </div>

    <div class="main-content">
        <div class="photo">
            <a class="fancybox" href="/images/main.jpg" title="Галлерея">
                <img src="/images/main.jpg" alt="" />
            </a>
        </div>
    </div>

    <div class="horizontal-content">
            {% for item in projects %}
                <a href="#">
                    <img src="/images/project_icons/{{ item.url }}" alt="{{ item.description }}">
                </a>
            {% endfor %}
    </div>

</div>
