<div class="{{ projectId }}">

    <div class="main-content">
        <div class="caption-border">
            {% block title %} Some title here {% endblock  %}
            {% block text %} Some text here {% endblock %}
        </div>
    </div>

    <div class="horizontal-content">
        {% for item in items %}
            <a class="fancybox-thumbs" data-fancybox-group="thumb" href="/images/project{{ projectId }}/{{ item.url }}" title="{{ item.description }}">
                <img src="/images/project{{ projectId }}/thumb/{{ item.url }}" alt="{{ item.description }}"/>
            </a>
        {% endfor %}
    </div>
</div>
