$body-background: url(../images/body-background.jpg);
$header-background: url(../images/bg-header.gif);
$boarder-width: 929px;
$global-width: 869px;

@font-face {
  font-family: 'Mon Amour Two';
  src: url('../fonts/jeVu506T.ttf') format('truetype');
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background-image: url(/images/bg-body-pattern.gif);

  .boarder {
    width: $boarder-width;
    padding-top: 30px;
    padding-bottom: 20px;
    background-image: url(/images/bg-body-shadow.gif);
    margin: auto;

    .container {
      position: relative;
      width: $global-width;
      margin: 0 auto;

      .header {
        padding-top: 27px;
        background-image: $header-background;

        .header-content {
          width: $global-width;
          height: 280px;

          .header-photo {
            width: inherit;
            height: inherit;
            background: url(/images/header-photo.jpg) no-repeat;
          }

        }

        .header-menu {
          width: $global-width;
          height: 50px;
          background-image: $body-background;

          nav ul {
            list-style-type:none;
            margin: 0 auto;
            padding: 0;

            li {
              margin-top: 10px;
              float: left;

              a {
                padding-left: 70px;
                padding-right: 70px;
                font-family: 'Mon Amour Two';
                font-size: 20px;
                text-decoration: none;
                color: maroon;
              }
            }
          }
        }
      }

      .gap {
        height: 10px;
        border-bottom: solid 1px black;
        border-top: solid 1px black;
        background-image: $body-background;

        .gap-left {
          height: inherit;
          width: 80%;
          float: left;
          border-right: solid 1px black;
        }

        .gap-rigth {
          height: inherit;
          width: 19%;
          float: right;
        }
      }

      .body {
        background-image: $body-background;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 500px;

        .main {
          width: 100%;
          height: inherit;
          min-height: 500px;
          max-height: 800px;
          overflow-y: auto;
          overflow-x: hidden;
          float: left;
          border-right: solid 1px black;
          background-color: inherit;

          >div {
            display: none;
          }

          .main-content {
            display: block;
            margin: 10px;
            .photo {
              text-align: center;
              a {
                widows: inherit;
                height: inherit;
                img {
                  vertical-align: middle;
                  max-width: 100%;
                  max-height: 100%;
                  // ie
                  background-size: 100%;
                  text-decoration: none;
                  border: 0px;
                }
              }
            }

              width: $global-width;
              height: inherit;
              overflow: auto;

              h1,h2,h3,h4,h5,h6 {
                font-family: Arial, Tahoma, Geneva, sans-serif;
                padding-top: 20px;
                margin: 0 auto;
                font-weight: 300;
              }

              h1 {
                text-align: center;
                font-size: 28px;
              }

              // right
              h2 {
                padding-right: 20px;
                text-align: right;
                font-size: 22px;
              }

              h3 {
                font-size: 20px;
                font-weight: bold;
              }

              p {
                font-family: Georgia, "Times New Roman", Times, serif;
                font-size: 18px;
                padding-left: 5px;
                padding-right: 22px;
              }

              .contacts-text {
                font-family: verdana, arial, sans-serif;
                font-size: 20px;
                padding-left: 10px;
              }
          }

        }

        .horizontal-block {
          text-align: center;

          .scroll-left {
            float: left;
            margin-top: 20px;
            margin-left: 2px;
          }

          .horizontal-content {
            height: 120px;
            width: 95%;
            display: inline-block;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            text-align: center;
            border-bottom: solid 1px black;

            img {
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;
              max-height: 70px;
              max-width: 70px;
              cursor: pointer;
              display:inline-block;
              *display:inline;/* For IE7*/
              *zoom:1;/* For IE7*/
              vertical-align:top;
            }

            a {
              line-height: 0;
              font-size: 0;
              color: transparent;
            }
          }

          .scroll-right {
            float: right;
            margin-top: 20px;
            margin-right: 2px;
          }

          .horizontal-content.hidden {
            display: none;
          }
        }
      }
    }
  }

  #modal {
    width: 300px;
    padding: 30px;
    text-align: center;
    background: #FCF2E7;
  }
}

