{% extends "../project_base.html" %}
{% block title %}
<h1>Пряная корица.</h1>
{% endblock %}

{% block text %}
    <p>Жить в квартире будет дама на пенсии. Дети и внуки будут частыми желанными гостями.</p>
    <img src="/images/project{{ projectId }}/idea.jpg" width="650" style="display: block; margin-left: auto; margin-right: auto;"/>
    <p> Хозяйка любит комфорт, рукодельничать, смотреть телевизор, читать.
Книг много - целая библиотека, мы отвели им место в коридоре в большом шкафу под потолок. Еще запланирована мощная система вентиляции -  потолок разноуровневый ее прячет.</p>
    <p> Из пожеланий - шоколадно-сливочная гамма, графичность и мягкость и живописность. Посмотрим, как мне удалось воплотить все это.</p>
{% endblock %}
