{% extends "../project_base.html" %}
{% block title %}Яркий и душевный проект для прекрасной семьи{% endblock %}

{% block text %}
Муж, жена, дочка (теперь уже две дочки)))

Двушка 52 квадрата.

Просили разграничить гостиную и детскую, чтоб можно было смотреть телевизор, не тревожа детку.
Хотели использовать обои Сosca. Выставку для семейных фотографий - любят красивые фотосессии.
Совместить санузел - чтоб было побольше места.
Барную стойку тоже просили вписать и 2 колонны под духовку и холодильник.
И гардеробную. И еще для хранения в спальне и кухне пару мест.


Я предложила 4 варианта планировки:


После некоторых раздумий скомбинировали из нескольких вариантов один


Гостиную, кухню и ванную приняли сразу.


Спальни было 2 варианта.
Выбрали красный.


Коридор объединил красный в комнатах и венге в кухне:



Мебель в гостиной, коридоре, спальне - на заказ.
Фреска в кухне, фотообои в комнате - тоже.

Проект реализован очень точно, но фотосессии, увы, не состоялось.
Хозяева живут в обновленной квартире уже 4 года, им удобно и все нравится - это для меня самое главное))
{% endblock %}
