{% extends "../project_base.html" %}
{% block title %}
<h1>Легкий прованс</h1>
{% endblock %}

{% block text %}
    <p>
        Прекрасная девушка   попросила меня помочь с планировкой и стилистикой квартиры для своей мамы.
    </p>
    <p>
        Стены сносить не предполагалось, поэтому нужно было подобрать мебель, чтобы было удобно.
    </p>
    <img src="/images/project{{ projectId }}/idea.jpg" width="650" style="display: block; margin-left: auto; margin-right: auto;"/>
    <p>Но я не удержалась и сделала второй вариант планировки - если все же глобально подойти к ремонту, увеличить ванную, организовать гардеробную и объединить кухню и гостиную.</p>
    <p>Второй вариант очень  понравился, но из соображений экономии все же выбран первый.</p>
    <p>Мебель подобрали в Икее.</p>
    <p>Хотелось много света и уюта и комнат разных цветов.
        В процессе работы выяснился момент, что  внук хозяйки, подросток, частый гость в доме и она намерены спальню номинально оставить за ним, мальчик любит уединение.</p>
    <p>Я постаралась сделать интерьер чуть-чуть строже.
        По кухне было одно пожелание - раковина у окна.
        А в прихожей - место, чтобы присесть.</p>
    <p>Проект мне очень нравится и, что особенно приятно, нравится и заказчице и ее маме))</p>

{% endblock %}
